@model ClayPay.Models.UserAccess

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 1em;"
     id="views"
     class="container">
  <section class="show"
           id="Home">
    <p>Let's explain the different sections with a bit more detail here.</p>
  </section>

  <section class="hide"
           id="permitFees">

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Permit Number</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <div class="control">
            <input id="permitSearch"
                   class="input"
                   type="number"
                   maxlength="8"
                   value="11701545"
                   placeholder="18000001" />
          </div>
          <div class="control">
            <button id="permitSearchButton"
                    type="button"
                    class="button is-primary">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label is-hidden">Error text</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <p id="permitSearchError"
               class="help is-danger hide">
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="hide"
           id="contractorFees">

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Contractor Id</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <div class="control is-grouped">
            <input id="contractorSearch"
                   class="input"
                   type="text"
                   placeholder="Contractor Id" />
          </div>
          <div class="control is-grouped">
            <button id="contractorSearchButton"
                    type="button"
                    class="button is-primary">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label is-hidden">Error text</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <p id="contractorSearchError"
               class="help is-danger hide">
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="hide"
           id="applicationFees">

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Application Type</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control is-grouped">
            <div class="select">
              <select id="applicationSearchType"></select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Application Number</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <div class="control is-grouped">
            <input id="applicationSearch"
                   class="input"
                   type="number"
                   maxlength="10"
                   placeholder="2018000000" />
          </div>
          <div class="control is-grouped">
            <button id="applicationSearchButton"
                    type="button"
                    class="button is-primary">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label is-hidden">Error text</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <p id="applicationSearchError"
               class="help is-danger hide">
            </p>
          </div>
        </div>
      </div>
    </div>


  </section>

  <section style="margin-top: 1em;"
           class="hide"
           id="searchResults">
    <div class="level">
      <div class="level-item has-text-centered">
        <div>
          <p id="ChargesKey"
             class="title">
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p id="ChargesDetail"
             class="title">
          </p>
        </div>
      </div>
    </div>
    <hr />
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th width="50%">Description</th>
          <th width="20%">Date</th>
          <th width="20%">Amount</th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tbody id="Charges">

      </tbody>
    </table>

  </section>

  <section class="hide"
           id="cart">
    <div id="emptyCart"
         class="level show">
      <div class="level-item">
        No charges have been added to the cart.
      </div>
    </div>
    <table id="fullCart"
           class="table is-fullwidth hide">
      <thead>
        <tr>
          <th class="20%">Key</th>
          <th width="40%">Description</th>
          <th width="15%">Date</th>
          <th width="15%">Amount</th>
          <th width="10%"></th>
        </tr>
      </thead>
      <tbody id="CartCharges"></tbody>
    </table>

    <div id="payerInformation">
      <div style="margin-bottom: 0;"
           class="columns">
        <div class="field column">
          <label class="label">Your First Name</label>
          <div class="control">
            <input id="payerFirstName"
                   class="input"
                   type="text"
                   maxlength="50"
                   required
                   placeholder="Firstname" />
          </div>
        </div>

        <div class="field column">
          <label class="label">Last Name</label>
          <div class="control">
            <input id="payerLastName"
                   class="input"
                   type="text"
                   maxlength="50"
                   required
                   placeholder="Lastname" />
          </div>
        </div>

      </div>

      <div style="margin-bottom: 0;"
           class="columns">
        <div class="field column">
          <label class="label">Phone #</label>
          <div class="control">
            <input id="payerPhone"
                   class="input"
                   type="tel"
                   maxlength="12"
                   placeholder="" />
          </div>
        </div>

        <div class="field column">
          <label class="label">Email Address</label>
          <div class="control">
            <input id="payerPhone"
                   class="input"
                   type="email"
                   maxlength="12"
                   placeholder="email@example.com" />
          </div>
        </div>

      </div>

      <div class="field">
        <label class="label">Company Name</label>
        <div class="control">
          <input id="payerCompany"
                 class="input"
                 type="text"
                 maxlength="50"
                 placeholder="Company Name" />
        </div>
      </div>

      <div class="field">
        <label class="label">Street Address</label>
        <div class="control">
          <input id="payerStreetAddress"
                 class="input"
                 type="text"
                 required
                 maxlength="50"
                 placeholder="Address" />
        </div>
      </div>

      <div class="columns">
        <div class="field column is-three-fifths">
          <label class="label">City</label>
          <div class="control">
            <input id="payerCity"
                   class="input"
                   type="text"
                   required
                   maxlength="50"
                   placeholder="City" />
          </div>
        </div>

        <div class="field column is-one-fifth">
          <label class="label">State</label>
          <div class="control">
            <div class="select">
              <select id="payerState"></select>
            </div>
          </div>
        </div>

        <div class="field column is-one-fifth">
          <label class="label">Zip</label>
          <div class="control">
            <input id="payerZip"
                   class="input"
                   type="text"
                   required
                   maxlength="5"
                   placeholder="Zip" />
          </div>
        </div>

      </div>

    </div>
    

    <div style="margin-top: 1em; margin-bottom: 1em;"
         class="columns">
      <div class="column is-one-fifth">
        <div class="menu">
          <p class="menu-label">
            Method of Payment
          </p>

          <ul class="menu-list">
            <li>
              <div class="level">
                <span style="justify-content: flex-start; flex-grow: 0; width: 50%;"
                      class="level-item">
                  <span class="icon is-medium">
                    <i class="fas fa-credit-card"></i>
                  </span>
                  Credit Card
                </span>
                <a id="creditcardPaymentTotal"
                   style="display: flex; justify-content: flex-end; flex-grow: 0; width: 50%;"
                   class="has-text-link level-item">
                  Add
                </a>
              </div>
            </li>
            <li>
              <div class="level">
                <span style="justify-content: flex-start; flex-grow: 0; width: 50%;"
                      class="level-item">
                  <span class="icon is-medium">
                    <i class="fas fa-money-check"></i>
                  </span>
                  Check
                </span>
                <a id="checkPaymentTotal"
                   style="display: flex; justify-content: flex-end; flex-grow: 0; width: 50%;"
                   class="has-text-link level-item">
                  Add
                </a>
              </div>
            </li>
            <li>
              <div class="level">
                <span style="justify-content: flex-start; flex-grow: 0; width: 50%;"
                      class="level-item">
                  <span class="icon is-medium">
                    <i class="fas fa-money-bill-alt"></i>
                  </span>
                  Cash
                </span>
                <a id="cashPaymentTotal"
                   style="display: flex; justify-content: flex-end; flex-grow: 0; width: 50%;"
                   class="has-text-link level-item">
                  Add
                </a>
              </div>
            </li>
          </ul>

          <p class="menu-label">
            Total Amount Paid
          </p>
          <ul class="menu-list">
            <li class="level">
              <span style="display: flex; justify-content: flex-end; flex-grow: 0; width: 100%;"
                    id="cartTotalAmountPaid"
                    class="level-item">
                $0.00
              </span>
            </li>
          </ul>

          <p class="menu-label">
            Total Amount Due
          </p>
          <ul class="menu-list">
            <li class="level">
              <span style="display: flex; justify-content: flex-end; flex-grow: 0; width: 100%;"
                    id="cartTotalAmountDue"
                    class="level-item">
              </span>
            </li>
            <li class="level">
              <button class="level-item button is-success">
                Pay Now
              </button>
            </li>
          </ul>

        </div>
      </div>
      <div class="column is-four-fifths"
           id="paymentInformation">
        <section class="hide"
                 id="creditCardPaymentType">
          credit card payment
        </section>
        <section class="hide"
                 id="checkPaymentType">
          check
        </section>
        <section class="hide"
                 id="cashPaymentType">
          cash
        </section>
      </div>
    </div>


  </section>
</div>

<script src="bower_components/promise-polyfill/dist/polyfill.min.js"></script>
<script src="~/bower_components/fetch/fetch.js"></script>
<script src="~/Scripts/app/Utilities.js"></script>
<script src="~/Scripts/claypay/UI.js"></script>
<script src="~/Scripts/claypay/Charge.js"></script>
<script src="~/Scripts/claypay/AppTypes.js"></script>
<script src="~/Scripts/claypay/claypay.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event)
  {
    clayPay.start();
  });
</script>

