@model ClayPay.Models.UserAccess

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 1em;"
     id="views"
     class="container">

  <section class=""
           id="balancing">
    <div id="balancingDJournal">
      <div class="columns">
        <div class="column is-two-fifths">
          <div class="field">
            <label class="label">DJournal Date</label>
            <div class="control">
              <input id="djournalDate"
                     type="date"
                     class="input" />
              <button class="button is-success"
                      type="button">
                Search
              </button>
            </div>
          </div>
        </div>
        <div class="column is-three-fifths">
          <div id="djournalTotals">

          </div>
          <div id="djournalPaymentsByType"
               class="hide">

          </div>
          <div id="djournalReceipt"
               class="hide">

          </div>
        </div>
      </div>
    </div>


  </section>

  <section class="hide"
           id="onlinePayments">
    online payments
  </section>

  <section class="hide"
           id="receipts">
    receipts
  </section>

</div>
<script src="~/Scripts/Balancing/bundle.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function (event)
  {
    Balancing.Start();




    });
 
</script>