@model ClayPay.Models.UserAccess

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 1em;"
     id="views"
     class="container">

  <section class=""
           id="balancing">
    balancing
  </section>

  <section class="hide"
           id="onlinePayments">
    online payments
  </section>

  <section class="hide"
           id="receipts">
    receipts
  </section>

</div>
<script src="~/Scripts/Balancing/bundle.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function (event)
  {
    Balancing.Start();




    });
 
</script>