@model ClayPay.Models.UserAccess

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<script src="~/bower_components/promise-polyfill/dist/polyfill.min.js"></script>
<script src="~/bower_components/fetch/fetch.js"></script>
<script src="~/Scripts/app/Utilities.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event)
  {
    var daysToSubtract = 1;
    var yesterday = new Date();
    if (yesterday.getDay() === 2)
    {
      daysToSubtract = 5;
    }
    yesterday.setDate(yesterday.getDate() - daysToSubtract);
    console.log(Utilities.Get("../API/Balancing/Get?DateToBalance=" + yesterday.toDateString()));
  });
</script>