@model ClayPay.Models.UserAccess

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 1em;"
     id="views"
     class="container">

  <section class=""
           id="balancing">
    <div id="balancingDJournal">
      <div class="columns">
        <div class="column is-two-fifths">
          <div class="field">
            <label class="label">DJournal Date</label>
            <div class="control">
              <input id="djournalDate"
                     type="date"
                     class="input" />
              <button class="button is-success"
                      type="button">
                Search
              </button>
            </div>
          </div>
        </div>
        <div class="column is-three-fifths">
          <div id="djournalTotals">

          </div>
          <div id="djournalPaymentsByType"
               class="hide">

          </div>
        </div>
      </div>
    </div>


  </section>

  <section class="hide"
           id="onlinePayments">
    
  </section>

  <section class="hide"
           id="receipts">

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Receipt Number</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <div class="control">
            <input id="receiptSearch"
                   class="input"
                   type="text"
                   maxlength="9"
                   value="@(HttpContext.Current.IsDebuggingEnabled ? "18-013663" : "")"
                   placeholder="18-000001" />
          </div>
          <div class="control">
            <button id="receiptSearchButton"
                    type="button"
                    class="button is-primary">
              Search
            </button>
            <button onclick="Balancing.ClearReceipt();"
                    id="clearReceipt"
                    type="button"
                    class="button is-warning">
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-offset-1">
        <div class="hide"
             id="receiptSearchError">

        </div>
      </div>
      <div class="column">

      </div>
    </div>
    <div id="receiptView">

    </div>

  </section>

</div>
<script src="~/Scripts/Balancing/bundle.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function (event)
  {
    Balancing.Start();




    });
 
</script>