@model ClayPay.Models.UserAccess

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top: 1em;"
     id="views"
     class="container">

  <section class=""
           id="balancing">
    <div id="balancingDJournal">
      <div class="columns">
        <div class="column is-two-fifths">
          <div class="field">
            <label class="label">
              DJournal Date
            </label>

            <div class="field is-grouped">

              <div class="control">
                <input id="djournalDate"
                       type="date"
                       class="input" />

              </div>
              <div class="control">
                <button onclick="Balancing.DJournalByDate();"
                        id="BalanceByDate"
                        class="button is-primary is-loading"
                        type="button">
                  Balance By Date
                </button>
              </div>
              @*<div class="control">
                <button onclick="Balancing.DJournal.GetAndShow();"
                        class="button is-warning is-loading"
                        id="NextFinalizeDate"
                        type="button">
                  Get Next Day To Finalize
                </button>
              </div>*@
            </div>
          </div>
          <div class="hide"
               id="djournalSearchError">

          </div>
          <div id="djournalFinalizeContainer">

          </div>
        </div>
        <div class="column is-three-fifths">
          <div id="djournalErrors">

          </div>
          <div id="djournalTotals">

          </div>
          <div id="djournalPaymentsByType"
               class="hide">

          </div>
        </div>
      </div>
    </div>
    <div class="hide"
         id="printingDJournal">

    </div>


  </section>

  <section class="hide"
           id="onlinePayments">
    
  </section>

  <section class="hide"
           id="receipts">

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Receipt Number</label>
      </div>
      <div class="field-body">
        <div class="field is-grouped">
          <div class="control">
            <input 
                   id="receiptSearch"
                   class="input"
                   type="text"
                   maxlength="9"
                   value="@(HttpContext.Current.IsDebuggingEnabled ? "18-013663" : "")"
                   placeholder="18-000001" />
          </div>
          <div class="control">
            <button onclick="clayPay.ClientResponse.BalancingSearch();"
                    id="receiptSearchButton"
                    type="button"
                    class="button is-primary">
              Search
            </button>
            <button onclick="Balancing.ClearReceipt();"
                    id="clearReceipt"
                    type="button"
                    class="button is-warning">
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-offset-1">
        <div class="hide"
             id="receiptSearchError">

        </div>
      </div>
      <div class="column">

      </div>
    </div>
    <div style="margin-bottom: 2em;"
         id="receiptView">

    </div>

  </section>

</div>
<script src="~/Scripts/Balancing/bundle.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function (event)
  {
    Balancing.Start();
  });
 
</script>