@model ClayPay.Models.UserAccess

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<script src="~/Scripts/app/Utilities.js"></script>
@*<script src="~/bower_components/promise-polyfill/dist/polyfill.min.js"></script>
  <script src="~/bower_components/fetch/fetch.js"></script>
  
  <script src="~/Scripts/claypay/UI.js"></script>
  <script src="~/Scripts/claypay/Charge.js"></script>
  <script src="~/Scripts/claypay/AppTypes.js"></script>
  <script src="~/Scripts/claypay/Payment.js"></script>
  <script src="~/Scripts/claypay/CCPayment.js"></script>
  <script src="~/Scripts/claypay/NewTransaction.js"></script>
  <script src="~/Scripts/claypay/claypay.js"></script>*@
<script>
  document.addEventListener("DOMContentLoaded", function (event)
  {
    console.log(Utilities.Get("/claypay/API/Balancing/Get"));
  });
</script>