.hero-buffer {
  margin-bottom: 1em; }

nav ul {
  cursor: pointer; }

#CartNotEmpty,
#homeError,
#permit,
#receipt,
#contractor,
#application,
#cart,
#Searching,
#SearchFailed,
#SearchSuccessful,
#InvalidSearch,
#SearchResults {
  display: none; }

.headerBox {
  margin-bottom: 1em;
  margin-top: 1em; }

#CartPayment form div.row {
  line-height: 3em; }

.bg-primary a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer; }

#ChargesLayout button {
  min-width: 10em; }

#ChargesLayout th, #ChargesLayout td, #CartCharges td, #CartLayout th {
  text-align: center; }

#ChargesLayout th.right, #ChargesLayout td.right, #CartLayout td.right, #CartCharges td.right {
  text-align: right; }

#ChargesLayout th.left, #ChargesLayout td.left, #CartCharges td.left, #CartLayout th.left {
  text-align: left; }

@-moz-document url-prefix() {
  fieldset {
    display: table-cell; } }

.navbar-default .navbar-nav > li > a {
  text-decoration: underline; }

.glyphicon-refresh-animate {
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spin .7s infinite linear;
  -o-animation: spin .7s infinite linear;
  animation: spin .7s infinite linear; }

@keyframes spin {
  from {
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); }
  to {
    -moz-transform: scale(1) rotate(360deg);
    -ms-transform: scale(1) rotate(360deg);
    -o-transform: scale(1) rotate(360deg);
    -webkit-transform: scale(1) rotate(360deg);
    transform: scale(1) rotate(360deg); } }

@-webkit-keyframes spinw {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-moz-keyframes spinm {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* Padding - just for asthetics on Bootsnipp.com */
/*body
{
  margin-top: 20px;
}*/
/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
  display: inline;
  font-weight: bold; }

.credit-card-box .form-control.error {
  border-color: red;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6); }

.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px; }

.credit-card-box #errorList {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
  list-style-type: square; }

.credit-card-box #errorList li {
  text-align: left; }

.credit-card-box label {
  display: block; }

/* The old "center div vertically" hack */
.credit-card-box .display-table {
  display: table; }

.credit-card-box .display-tr {
  display: table-row; }

.credit-card-box .display-td {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }

/* Just looks nicer */
.credit-card-box .panel-heading img {
  min-width: 180px; }
